.imgprin{
    width: 350px;
    border-radius: 30%;
}

.imgsec{
    width: 100px;
}
.body{
    background-color: blue;
    color: cyan;

}
.table thead{
    background-color: black;
    color: white;

}
